<%- include ../shared/pembeli_layout.ejs %>

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <h1>Welcome, Pembeli!</h1>
            <p>This is your home page. Manage your orders and view your history here.</p>
        </div>
    </section>
</div>